html, body {
    height: 100%; /* Make sure the html and body cover the full height of the viewport */
    margin: 0; /* Remove default margin */
    color-scheme: system;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0f7fa;	
}

.temp {
    padding: 10px;
}

.content {
    flex: 1; /* Takes up all available space */
    padding: 20px; /* Add padding for content area */
}

.content2 {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #a5d6a7;
    border-radius: 10px;
    background-color: #ffffff;
}

footer {
    background-color: silver;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: black;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-separator {
    margin: 0 10px; /* Adjust space around the dot as needed */
}

.footer-link, .footer-link:visited {
    color: inherit; /* Keep the text color the same as the footer */
    text-decoration: none; /* Remove underline from the link */
    display: block; /* Make sure the link covers the entire footer area */
}

.footer-content img {
    margin-right: 5px; /* Space between the image and the text */
    width: 16px; /* You can adjust the size as needed */
    height: auto;
}

h1 {
    color: #00796b;
}
img {
    max-width: 100%;
    height: auto;
}